@media screen and (max-width: 800px) {
    .empowering-container { flex-direction: column;}
}

@media screen and (max-width: 768px) {
    [aria-controls="navbarDropdown"] {
        display: block
    }

    [aria-expanded="false"] ~ .nav-links-wrapper {
        display: none;
    }

    [aria-expanded="true"] ~ .nav-links-wrapper {
        display: block;
    }

    .top-gradient-a {
        position: absolute;
        right: 0;
        background-image: linear-gradient(to top left, rgb(247, 247, 247) 1%, white 100%);
        height: 62.55vh;
        width: 100%;
        z-index: -10;
    }
    
    .top-gradient-b {
        position: absolute;
        right: 0;
        height: 63.4vh;
        width: 66vw;
        clip-path: polygon(70% 0%, 100% 0%, 100% 60%, 0% 95%);
        color: lightgray;
        background-color: rgb(234, 234, 234);
        z-index: -9;
    }
    
    .top-gradient-c {
        position: absolute;
        right: 0;
        top: 20vh;
        clip-path: polygon(100% 30%, 0% 100%, 100% 100%);
        height: 45vh;
        width: 100%;
        color: white;
        background-color: white;
        z-index: -8;
    }
    

    .all-maxwidth { 
        max-width: 748px; 
        margin: 0 auto;
    }

    .empowering-text-wrapper { 
        max-width: 80%; 
        margin: 0 auto;
    }

    .empowering-logos-wrapper {
        width: 90%;
        height: 400px;
        margin-top: 100px
    }

    .calendar-logo { display: none; }
    .google-ads-logo { display: none; }
    .google-logo {
        position: relative;
        left: -275px;
        top: 0px;
    }

    h2 { margin-top: 30px;}

    .benefits-cards-wrapper { 
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
    }

    .benefits-card { 
        height: auto;
        width: auto;
        margin: 10px;
    }

    .perspectives-container {
        height: 700px;
        flex-direction: column;
    }
    
    .perspectives-text { 
        position: relative;
        top: 0px;
    }

    .why-front-text { margin-top: 0; }
    .line-graphic { display: none; }

    .why-front-graphic-wrapper { 
        margin: 0;
        margin-left: 100px;
        flex-direction: column;

    }

    .graphics-text-container {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .video-container { 
        position: relative; 
    }

    .video-img { 
        margin: 0;
        margin-top: 50px;
    }

    .video-play-button {
        position: absolute;
        top: 50%;
        left: 50%;
    }
    
    .recommendation-wrapper { 
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }

    #slack, #uber { display: none }

    .pricing-flex {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
        align-items: center;
    }

    .fifty-nine-wrapper { margin-bottom: 50px; }

    .hire-us-wrapper {
        display: flex;
        flex-direction: column;
    }

    #hireWrapper { 
        position: relative;
        width: 90%; 
        height: 1000px;
        margin: 0px auto;
    }

    .hire-us-text { margin: 0 }

    .hire-us-form-outer { 
        margin: 0; 
        margin-top: 50px;
    }    

    .bottom-section-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-left: 100px;
    }

    #bottomLogo {
        grid-column: 1 / span 2;
    }

    .footer-all-links {
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 100px;
    }

    .privacy-terms {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 40px;
    }

    .footer-copyright-wrapper {
        text-align: left;
        width: 700px;
        margin-left: 100px;
    }
}


@media screen and (max-width: 375px) {
    [aria-controls="navbarDropdown"] {
        display: block
    }

    [aria-expanded="false"] ~ .nav-links-wrapper {
        display: none;
    }

    [aria-expanded="true"] ~ .nav-links-wrapper {
        display: block;
    }

    .all-maxwidth { 
        max-width: 375px; 
        margin: 0 auto;
    }

    .empowering-logos-wrapper {
        margin: 0;
    }

    .asana-logo {
        position: relative;
        left: 250px;
        top: 20px;
    }

    .atlassian-logo {
        position: relative;
        left: 50px;
        top: 100px;
    }

    .google-logo {
        position: relative;
        left: 0px;
        top: -100px;
    }

    .paypal-logo {
        position: relative;
        left: -100px;
        top: 200px;
    }
    .weave-logo {
        position: relative;
        left: 200px;
        top: 150px;
    }

    .benefits-cards-wrapper { 
        display: flex;
        flex-direction: column;
    }

    .perspectives-text {
        width: 300px;
    }

    .perspectives-img {
        height: 300px;
        width: 360px;
    }

    .video-img {
        height: 200px;
        width: 360px;
        margin-left: 60px
    }

    #christina { 
        position: relative;
        width: 330px;
        border-radius: 10px; 
        margin-left: 80px;
    }

    .dots { 
        position: absolute;
        z-index: -10;
        width: 125px;
        bottom: -20px;
        left: 50px;
    }

    .recommendation-blurb {
        margin-top: 100px;
        margin-left: 50px;
    }

    .fifty-nine-wrapper {
        margin-left: 100px;
    }

    .pricing-info-grid {
        display: flex;
        flex-direction: column;
    }

    .hire-us-text {
        width: 160px;
        margin-left: -100px;
    }

    .hire-us-form-outer {
    }


    .hire-us-form-inner {
        display: flex;
        flex-direction: column;
    }

    .bottom {
        margin-top: 300px;
        margin-left: -70px;
    }

    .footer-all-links {
        margin-left: 20px;
    }

    .footer-copyright-wrapper {
        margin-left: 20px;
        width: 350px;
    }
}
